/*		.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.svetoforr > div {
	border-radius: 50px;
	width: 100px;
	height: 100px;
	margin: 10px;
	opacity: 0.5;
	transition: 1s;
	animation: flash 1s alternate infinite;
}
.svetoforr {
	width: 120px;
	margin: auto;
	border: 15px solid #ddd;
	border-radius: 30px;
}

.svetoforr > div:hover {
	opacity: 1;
}

@keyframes flash {
	from{opacity: 0.5;}
	to{opacity: 1;}
}*/

main {
	max-width: 1000px;
	margin: auto;
}

img {
	max-width: 100%;
	display: block;
}


.box {
 	columns: 4;
 	column-gap: 3px;
 }

a {
 	margin-bottom: 3px;
 	display: block;
 }

 @media all and (max-width: 769px)
 {
 	 .box {
 	 	columns: 2;
 	 }
 
}

 @media all and (max-width:480px)
 {
 	 .box {
 	 	columns: 1;
 	 }
 }


 